@font-face {
  font-family: 'pageGenFont';
  src: url('/fonts/ArefRuqaa-Regular.ttf');
}

html {
  direction: rtl;
}
body {
  font-family: 'pageGenFont';
  font-size: 18px;
  overflow-x: hidden;
}

.MuiTypography-root, 
.MuiFormLabel-root, 
.MuiButtonBase-root, 
#demo-simple-select {
  font-family: 'pageGenFont' !important;
}

.MuiOutlinedInput-notchedOutline { 
  border-color: #fff !important;
}
.css-14lo706 {
  width: 46px !important;
}

.MuiSvgIcon-root  {
  font-size: 1.7rem !important;
  color: #fff !important;
}

/* List Item styling the span inside it */
.css-10hburv-MuiTypography-root {
  font-size: 30px;
}


